	/*!
	 * Hamburgers
	 * @description Tasty CSS-animated hamburgers
	 * @author Jonathan Suh @jonsuh
	 * @site https://jonsuh.com/hamburgers
	 * @link https://github.com/jonsuh/hamburgers
	 */
	.hamburger {
		padding: 15px 15px;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible; 
	}
	  
	.hamburger:hover {
		opacity: 0.7;
	}

	.hamburger-box {
		width: 40px;
		height: 24px;
		display: inline-block;
		position: relative; 
	  
	}

	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px; 
	}
	  
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 35px;
		height:3px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease; 
	}
		
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block; 	
	}
		
	.hamburger-inner::before {
		top: -10px; 
	}
		
	.hamburger-inner::after {
		bottom: -10px; 
	}
		
		
	   /* Collapse */
	.hamburger--collapse .hamburger-inner {
		top: auto;
		bottom: -4px;
		left:12px;
		transition-duration: 0.13s;
		transition-delay: 0.13s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
		background-color:white;
	}
	.hamburger--collapse .hamburger-inner::after {
		top: -20px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
		background-color:white;
	}

	.hamburger--collapse .hamburger-inner::before {
		transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
		background-color:white;
	}

	.hamburger--collapse.is-active .hamburger-inner {
		transform: translate3d(0, -10px, 0) rotate(-45deg);
		transition-delay: 0.22s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
	 }
	  
	.hamburger--collapse.is-active .hamburger-inner::after {
		top: 0;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
	}
		
	.hamburger--collapse.is-active .hamburger-inner::before {
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	}


	/* Elastic */
	.hamburger--elastic .hamburger-inner {
		top: 7px;
		bottom: -4px;
		left:12px;
		transition-duration: 0.275s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		background-color:white;
	}
	  
	.hamburger--elastic .hamburger-inner::before {
		top: 10px;
		transition: opacity 0.125s 0.275s ease; 
		background-color:white;
	}
		
	.hamburger--elastic .hamburger-inner::after {
		top: 20px;
		transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
		background-color:white;
	}

	.hamburger--elastic.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(135deg);
		transition-delay: 0.075s; 
	}
	  
	.hamburger--elastic.is-active .hamburger-inner::before {
		transition-delay: 0s;
		opacity: 0;
	}
		
	.hamburger--elastic.is-active .hamburger-inner::after {
		transform: translate3d(0, -20px, 0) rotate(-270deg);
		transition-delay: 0.075s; 
	}



	/* Emphatcic */
	.hamburger--emphatic {
		overflow: hidden;
	}
	  
	.hamburger--emphatic .hamburger-inner {
		
		top: 17px;
		bottom: -4px;
		left:12px;
		background-color: white;
		transition: background-color 0.125s 0.175s ease-in; 
		
	}
		
	.hamburger--emphatic .hamburger-inner::before {
		
		background-color: white;
		left: 0;
		transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; 
	}
		  
	.hamburger--emphatic .hamburger-inner::after {
		background-color: white;
		top: 10px;
		right: 0;
		transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; 
	}
		  
	.hamburger--emphatic.is-active .hamburger-inner {  
		transition-delay: 0s;
		transition-timing-function: ease-out;
		background-color: transparent; 
	}
		
	.hamburger--emphatic.is-active .hamburger-inner::before {
		left: -80px;
		top: -80px;
		transform: translate3d(80px, 80px, 0) rotate(45deg);
		transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
	}
		  
	.hamburger--emphatic.is-active .hamburger-inner::after {
		right: -80px;
		top: -80px;
		transform: translate3d(-80px, 80px, 0) rotate(-45deg);
		transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
	}



	/* Slider */
	.hamburger--slider .hamburger-inner {
		top: 7px; 
		bottom: -4px;
		left:12px;
		background-color: white;
	}
	  
	.hamburger--slider .hamburger-inner::before {
		top: 10px;
		transition-property: transform, opacity;
		transition-timing-function: ease;
		transition-duration: 0.15s; 
		background-color: white;
	}
		
	.hamburger--slider .hamburger-inner::after {
		top: 20px; 
		background-color: white;
	}

	.hamburger--slider.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(45deg); 
	}
	  
	.hamburger--slider.is-active .hamburger-inner::before {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0; 
	}

	.hamburger--slider.is-active .hamburger-inner::after {
		transform: translate3d(0, -20px, 0) rotate(-90deg); 
	}



	/* Spin */
	.hamburger--spin .hamburger-inner {
		top: 17px; 
		bottom: -4px;
		left:12px;		
		transition-duration: 0.22s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
		background-color: white;
	}
	  
	.hamburger--spin .hamburger-inner::before {
		transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
		background-color: white;
	}

		
	.hamburger--spin .hamburger-inner::after {
		transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
		background-color: white;
	}

	.hamburger--spin.is-active .hamburger-inner {
		transform: rotate(225deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	  
	.hamburger--spin.is-active .hamburger-inner::before {
		top: 0;
		opacity: 0;
		transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
	}
		
	.hamburger--spin.is-active .hamburger-inner::after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
	}


	/* Spring */
	.hamburger--spring .hamburger-inner {
		top: 7px; 
		bottom: -4px;
		left:12px;	
		transition: background-color 0s 0.13s linear;
		background-color: white;
	}
	  
	.hamburger--spring .hamburger-inner::before {
		top: 10px;
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		background-color: white;
	}

	.hamburger--spring .hamburger-inner::after {
		top: 20px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		background-color: white;
	}

	.hamburger--spring.is-active .hamburger-inner {
		transition-delay: 0.22s;
		background-color: transparent; 
	}
	  
	.hamburger--spring.is-active .hamburger-inner::before {
		top: 0;
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(45deg); 
	}
		
	.hamburger--spring.is-active .hamburger-inner::after {
		top: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(-45deg); 
	}


	/* Squeeze */
	.hamburger--squeeze .hamburger-inner {
		top: 17px; 
		bottom: -4px;
		left:12px;
		transition-duration: 0.075s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
		background-color: white;
	}

	.hamburger--squeeze .hamburger-inner::before {
		background-color: white;
		transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
	}
		
	.hamburger--squeeze .hamburger-inner::after {
		transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		background-color: white;	
	}

	.hamburger--squeeze.is-active .hamburger-inner {
		transform: rotate(45deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
	}
	  
	.hamburger--squeeze.is-active .hamburger-inner::before {  
		top: 0;
		opacity: 0;
		transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
	}
		
	.hamburger--squeeze.is-active .hamburger-inner::after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
	}

	/* Vortex */
	.hamburger--vortex .hamburger-inner {
		top: 17px; 
		bottom: -4px;
		left:12px;
		transition-duration: 2s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		background-color: white;
	}
	  
	.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
		transition-duration: 0s;
		transition-delay: 0.1s;
		transition-timing-function: linear; 
		background-color: white;		
	}
		
	.hamburger--vortex .hamburger-inner::before {
		transition-property: top, opacity; 
	}
		
	.hamburger--vortex .hamburger-inner::after {
		transition-property: bottom, transform; 
	}

	.hamburger--vortex.is-active .hamburger-inner {
		transform: rotate(765deg);
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	}
	  
	.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
		transition-delay: 0s;
	}
		
	.hamburger--vortex.is-active .hamburger-inner::before {
		top: 0;
		opacity: 0; 
	}
		
	.hamburger--vortex.is-active .hamburger-inner::after {
		bottom: 0;
		transform: rotate(90deg);
	}

