.navigation-clean-button {
  background:linear-gradient(90deg,#323232,#131313);
  color:#fff;  
  padding-top:.25rem;
  padding-bottom:.25rem; 
  border-radius:0;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  border:none;
  margin-bottom:0;
  z-index:1000;
 /* this is to hide nav when scrolling */
  position: fixed;
  top: 0;
  width:100%;
  transition: 0.5s;
}

@media (min-width:768px) {
  .navigation-clean-button {
    padding-top:1rem;
    padding-bottom:1rem;
	height:90px;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color:#ffffff;
}

.navigation-clean-button .navbar-toggler {
  border: none;
  outline: none;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background:none;
}

.navigation-clean-button .navbar-toggler {
  color:#888;
  cursor: pointer;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
  border-top-color:#ddd;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active, .navigation-clean-button.navbar-dark .navbar-nav a.active:focus, .navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
  
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color:white;
  transition:0.4s;
}

a.nav-link.imp {
    font-weight: 700;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color:#999999 !important;
  transition:0.4s;
  background-color:transparent;
}

